.not_found {
  background-color: var(--main-color);
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.not_found h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.not_found p {
  font-size: 14px;
  color: #ddd;
}

.not_found a {
  font-size: 14px;
  font-weight: 600;
  color: #df5334;
  text-decoration: none;
}
